{
  "extends": ["standard", "plugin:vue/essential"],
  "rules": {
    "no-new": 0,
    "handle-callback-err": 0,
    "no-useless-escape": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["vue", "html"]
}
