.inner
    padding-left: 15px !important
    padding-right: 15px !important

.product-details
    margin: 0 0 .1em 0

.item-category
    color: #333
    cursor: pointer
    font-weight: 100
    font-size: .9rem
    padding: .6rem .2rem !important
    &.active
        font-weight: bold

.section.special
    margin-bottom: 4rem !important

.wrrapper-products
    height: 20rem !important

.bg-primary
    background-color: #044484 !important

#banner
    padding-top: 110px !important
    padding-bottom: 65px !important

.card-img-top
    margin: 0 auto !important
    width: 80% !important
    margin-top: 1rem !important 

.card-title
    font-size: 18px !important
    font-weight: bold
.card-text
    font-size: 14px !important

.card
    overflow: hidden
    .card-body
        height: 9rem !important
        overflow: hidden
    @media screen and ( max-width: 700px )
        border: none !important
        
.btn-details


.bg-image-product
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: #fff
    width: 15rem
    height: 15rem
    object-fit: cover
    margin: 0 auto